$main-font: Helvetica, sans-serif;
$second-font: Roboto, sans-serif;

//colors
$scythe-red: rgb(204, 0, 0);
$soft-black: rgb(51, 51, 51);
$secondary-color: red;
$hover-color: green;
$gray-background: rgb(223, 223, 223);

//Media Queries
$media-phone: "only screen and (max-width : 320px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-desktop: "only screen and (max-width : 1200px)";